@charset "UTF-8";
/* CSS Document */

@keyframes inMe{
	from{
		transform: translateY(200px);
		opacity: 1;
	}to{
		transform: translateY(0px);
		opacity: 1;
	}
}

/*PWA*/
@keyframes scrollmedown{
	0%{
		padding-top: calc(100vh - 390px);
	
	}50%{
		padding-top: calc(100vh - 490px);
	
	}100%{
		padding-top: calc(100vh - 390px);
	
	}
}

@keyframes scrollmedownResponsiveMiniCellPhone{
	0%{
		padding-top: calc(100vh - 300px);
	
	}50%{
		padding-top: calc(100vh - 390px);
	
	}100%{
		padding-top: calc(100vh - 300px);
	
	}
}

.scroll-me{
	animation: scrollmedown 1s;
	animation-delay:1s;
}

@media screen and (max-width: 380px){
	.scroll-me{
		animation: scrollmedownResponsiveMiniCellPhone 1s;
		animation-delay:1s;
	}
}

